@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins&display=swap');

body{
    background-color: #d82139;

}

.judul{
    text-decoration: none;
    font: bold;
    float: left;
    padding-top: 0px;
    padding-left: 150px;
}

.judul h1 a{
    color: white;
    text-decoration: none;
}

.navigation {
    text-align: right;
}

.navi {
    padding-top: 25px;
    margin-right: 160px;
    list-style: none;
    display: inline-flex;
}

.navi a {
    color: white;
    text-decoration: none;
}

.navi-list {
    width: 171px;
}

.biodata {

    color: black;
    padding: 50px;
    margin: 50px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
}

.poto{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

h1{
    font-size: 30px;
    margin-bottom: 1px;
}

.tulisan {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: center;
    padding: auto;
}

.sc{
    text-align: left;
}

.img{
    background-image: url(profile.png);

}

.nama {
    font-family: 'Montserrat', sans-serif;
}

.copyright-ul {
    margin-top: 30px;
    color: black;
    text-align: center;
    list-style: none;
    display: inline-flex;
    font-size: 20px;
    margin-right: 40px;
}

.copyright-list {
    width: 100px;
    transition: all 0.4s;
}

.copyright-list:hover{
    font-size: 30px;
}

.copyright-list a {
    color: white;
}

.copyright{
    color: white;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.link-sc a {
    font-size: 60px;
    color: black;
    transition: all 0.4s;
}

.link-sc a:hover {
    color: #ff8800;
    transition: all 0.4s;
}

.navi-list a {
    transition: all 0.4s;
}

.navi-list a:hover {
    color: black;
}